.contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.contacts-maindiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    position: relative;
}


.contacts-maindiv-g {
    display: grid;
    grid-template-areas:
        "pic pic"
        "top top"
        "info info";
    grid-template-columns: 1fr 1fr;
    /* or specific widths */
    grid-template-rows: repeat(3, auto);
    /* or specific heights */

    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    position: relative;
}



.pinfo-h {
    grid-area: top;
    align-items: center;
    justify-items: center;
    font-size: 4rem;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-bottom: 0.25rem solid var(--contacts-name-underline);

}

.pinfo-h h5 {
    color: var(--contacts-name);
}

.contacts-maindiv-g img {
    grid-area: pic;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    width: 350px;
    border-radius: 0.75rem !important;
    opacity: 1;
}


.pcontacts-g {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;

    margin-bottom: 1rem;
    margin-top: 1rem;

}

.pinfo-g {
    display: grid;
    grid-template-areas:
        "icon data data data data";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

}

.pinfo-g.pinfo-d {
    font-size: 2rem;


    & i {
        grid-area: icon;
        justify-self: center;
        align-self: center;
    }

    & a {
        text-decoration: none;
    }

    & p,
    a {
        grid-area: data;
        justify-self: end;
        font-size: 1.75rem;
        text-align: end;
    }

    & i,
    p,
    a {
        font-weight: bold;
    }
}

.mobile-tel {
    display: inline;
    grid-area: data;
    justify-self: end;
    font-size: 1.75rem;
    text-align: end;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.desktop-tel {
    display: none;
}


.social-list {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.social-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.social-list ul li a {
    font-size: 3rem;
}

.social-link {
    color: var(--contacts-social-color);
}

.contacts-buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.cont-btn {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    padding: 2rem 0rem;
    border-radius: 1.25rem;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    text-align: center;
    border: 2px solid var(--contacts-cta-button-border);
    background-color: var(--contacts-cta-button-bg);
    color: var(--contacts-cta-button-text);
    text-decoration: none;
    width: 100%;
}

.mobile-email {
    color: var(--common-heading-color);
}

@media (min-width: 992px) {

    .contacts {

        padding: 1rem;
    }


    .contacts-maindiv-g {
        display: grid;
        grid-template-areas:
            "top top top top top top"
            "pic pic info info info info";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);

        padding: 0 1rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
        position: relative;
    }

    .pinfo-h {
        margin-top: 0;
        margin-bottom: 0;
        padding: 2rem 0;
        font-size: 2.5rem;
    }

    .contacts-maindiv-g img {
        width: 250px;
        margin-bottom: 1rem;
    }

    .pcontacts-g {
        gap: 1rem;
    }

    .mobile-tel {
        display: none;
    }

    .desktop-tel {
        display: inline;
    }

    .social-list ul li a {
        font-size: 2.5rem;
    }

    .cont-btn {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        margin-right: 3rem;
        margin-left: 3rem;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 50%;
    }

    .cont-btn:hover {
        background-color: var(--contacts-cta-button-text);
        color: var(--contacts-cta-button-bg);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .social-link {
        transition: color 0.3s ease;
    }

    .social-link:hover {
        color: var(--contacts-social-hover);
        transition: color 0.3s ease;
    }

}

@media (max-width: 500px) {
    .social-list ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
        gap: 3.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
    }
}


@media (max-width: 300px) {


    .pinfo-h h5 {
        text-align: center;
    }

    .social-list ul {
        gap: 2rem;
    }

    .service span,
    .pinfo-g.pinfo-d {
        word-wrap: break-word;
        word-break: break-all;
    }

    .pinfo-g.pinfo-d {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


        & i {
            display: none;

        }

        & p,
        a {
            justify-self: start;
            text-align: start;
        }
    }

    .pcontacts-g {
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 270px) {
  .cont-btn i {
    display: none;
  }
}