.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ref-img-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.ref-img-wrapper div {
  align-self: center;
}

.ref-img-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;

}

.card-text {
  text-align: center;
  font-size: 1.5rem;
}
