:root {
  --common-heading-color: #1E90FF;
  --common-description-color: #1E90FF;

  /* Heading and Navbar */
  --header-box-shadow-underline: rgba(48, 104, 162, 0.6);
  --header-bg-color: rgba(30, 38, 46, 0.92);
  --header-bg-color-fill: rgba(30, 38, 46, 1);
  --header-border-bottom: rgba(0, 0, 0, 0.4);

  --header-tel-color: rgb(255, 81, 0);

  --navigation-link-color: rgb(255, 81, 0);
  --navigation-link-active-color: #1E90FF;
  --navigation-link-hover-color: #1E90FF;


  --hamburger-icon-color: #0cf;
  --mobile-menu-border-color: rgb(48, 104, 162);

  --hamburger-icon-clicked-glow:
    0 0 5px rgba(0, 204, 255, 1),
    0 0 10px rgba(0, 204, 255, 0.9),
    0 0 20px rgba(0, 204, 255, 0.8),
    0 0 40px rgba(0, 204, 255, 0.6);

  /* Services */
  --services-main-heading: rgb(255, 81, 0);
  --services-logo: rgb(255, 30, 0);
  --services-heading: rgb(255, 81, 0);
  --services-descr: rgb(226, 121, 0);

  --services-closed-bg-start: rgba(0, 0, 0, 0);
  --services-opened-bg-end: rgba(0, 0, 0, 0.0);
  --services-opened-border: #1E90FF;
  --services-opened-boxshadow: rgba(0, 0, 0, 0.2);

  --service-text-and-gear-underline-start: #1E90FF;
  --service-text-and-gear-underline-end: #1E90FF;

  --service-expanded-color: #0cf;
  --service-expanded-gear-color: #0cf;

  /* Contacts */
  --contacts-name: #1E90FF;
  --contacts-name-underline: #1E90FF;
  --contacts-personal-info-text: #1E90FF;

  --contacts-social-border: #1E90FF;
  --contacts-social-color: rgb(255, 81, 0);
  --contacts-social-hover: rgb(255, 30, 0);

  --contacts-cta-button-border: rgb(255, 30, 0);
  --contacts-cta-button-text: #f0f0f0;
  --contacts-cta-button-bg: rgb(255, 30, 0);
  --contacts-cta-button-dropshadow-glow: rgba(0, 204, 255, 0.7);


  --section-heading-size-pc: 2rem;
  --section-heading-size-m: 3rem;
  --section-desc-size-pc: 1.5rem;
  --section-desc-size-m: 2rem;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-color: rgb(224, 224, 224);
  font-family: 'Inter', sans-serif;
  color: var(--common-heading-color);
  line-height: 1.5;
}


html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: calc(60px + 1.5rem);
  z-index: 1;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 60px;
  border-top: 2px solid var(--header-border-bottom);
  background: var(--header-bg-color);
  z-index: 2;
}


footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer div p {
  color: var(--common-description-color);
  margin: 0;
  font-size: 1rem;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.heading {
  color: var(--common-heading-color);
  font-weight: 800;
}

.description {
  color: var(--common-description-color);
  font-weight: 500;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

.grid-container {
  display: flex;
  flex: 1 1 450px;
  flex-direction: column;
  gap: 0.5rem;
}

.bgd-bxs-card {
  padding: 1rem;
  box-shadow: 0 8px 32px var(--bxs-card-box-shadow);
}


section .heading {
  margin-bottom: 3rem;
  text-align: center;
  font-size: var(--section-heading-size-m);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  font-family: 'Roboto', sans-serif;
}

section .description {
  font-size: 2rem;
}

.phone-only {
  display: block;
}

@media (min-width: 992px) {

  .phone-only {
    display: none;
  }

  section .heading {
    margin-bottom: 1rem;
    font-size: var(--section-heading-size-pc);
    flex-direction: row;
  }

  section .description {
    font-size: var(--section-desc-size-pc);
  }
}



@media (max-width: 480px) {

  html {
    font-size: clamp(10px, 3vw, 16px);
  }

  footer div p {
    font-size: clamp(0.5rem, 4vw, 1rem);
  }


}